apiVersion: v1
kind: Service
metadata:
  name: cache-service-headless
  labels:
    app: cache-service
spec:
  ports:
  - port: 8080
    name: http
  - port: 11000
    name: raft
  clusterIP: None
  selector:
    app: cache-service
---
apiVersion: v1
kind: Service
metadata:
  name: cache-service
  labels:
    app: cache-service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  selector:
    app: cache-service
